body {
    background-color: hsl(0, 0%, 94%);
    font-family: Poppins;
    font-size: 32px;
}
.container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px 20px 100px 20px;
    padding: 20px;
    max-width: 1440px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.top {
    display:inline-flex;
    font-size: 12px;
    margin: auto 20px;
}
.top input {
    max-width: 100px;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
    color:hsl(0, 0%, 8%)
}
.top span {
    font-size: 12px;
    color:hsl(0, 100%, 67%);
}
.day .month .year {
    margin: 20px 20px 20px 20px;
}
.middle {
    margin: auto 20px;
}
.middle button {
    border: none;
    background: hsl(0, 0%, 100%);
}
.middle img {
    background-color: hsl(259, 100%, 65%);
}
.middle img:hover {
    background-color: hsl(0, 0%, 8%);
}
.bottom {
    margin: auto 20px;
    font-weight: bold;
    font-style: italic;
}
.number {
    color:hsl(259, 100%, 65%);
}
.attribution { 
    font-size: 12px;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}